/* navigation */
.modernUI-navigation {
  position: relative;
  z-index: 2;
  color: #fff;
}
.modernUI-nav-logo {
  width: 30%;
  float: left;
  padding: 55px;
}
.modernUI-body-nav {
  width: 70%;
  float: right;
  text-align: right;
  padding: 55px;
  font-family: "Antic Slab", serif;
  font-family: "Open Sans", sans-serif;
}
.modernUI-body-nav ul {
  display: inline-block;
}

.modernUI-body-nav ul li {
  display: inline-block;
  font-size: 20px;
  padding-left: 50px;
}
.modernUI-body-nav ul li a {
  color: #fff;
}
.modernUI-body-social {
  display: inline-block;
}
.modernUI-body-social ul li {
  padding-left: 15px;
}
.modernUI-body-social ul li a {
  color: #fff;
}

/* section one */
.bgv_overlay_img {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgb(26 26 47 / 82%);
  z-index: 1;
}
.modernUI-video-main-text {
  z-index: 4;
  position: relative;
  color: #fff;
  margin-top: 36vh;
}
.modernUI-video-main-text h1 {
  font-family: "Oswald", sans-serif;
  font-size: 120px;
  line-height: 0.9;
}
.modernUI-video-main-text p {
  font-family: "Antic Slab", serif;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 100;
}
.modernUI-video {
  padding-left: 0;
  padding-right: 0;
}
.video-main-wp {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-wrapper {
  position: absolute;
  width: calc(100vh * (1000 / 562)); /*  video width / height  */
  height: calc(100vw * (562 / 1000)); /*  video height / width  */
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-video-responsive {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

@media (max-width: 768px) {
  .modernUI-video-main-text h1 {
    font-size: 50px;
  }
  .modernUI-video-main-text p {
    font-size: 15px;
  }
}
